// color theme : https://www.colourlovers.com/palette/625987/dont_you_go_down
$theme-color-background: #DDDAD8;
$theme-color-primary: #73939C;
$theme-color-secondary: #8A8A8A;
$theme-color-black: #535C5F;
$theme-color-warning: #D3643B;

// addional color
.green-bg      { color: white; background-color: #00A0B0; }
.chocolate-bg  { color: white; background-color: #6A4A3C; }
.red-bg        { color: white; background-color: #CC333F; }
.orange-bg     { color: white; background-color: #EB6841; }
.yellow-bg     { color: white; background-color: #EDC951; }
.white-color   { color: #fff; }
.green-color   { color: #00A0B0; }
.red-color     { color: #CC333F; }
.btn-green     { color: white; background-color: #00A0B0; } // tambah
.btn-chocolate { color: white; background-color: #a77a4c; } // edit
.btn-red       { color: white; background-color: #CC333F; } // hapus
.btn-yellow    { color: white; background-color: #EDC951; } // cek
.btn-orange    { color: white; background-color: #EB6841; } 
.btn-purple    { color: white; background-color: #AB526B; } 


